@()

@main("Play CLI - examples") {
<h1>Play CLI - examples</h1>
<ul>
  <li>
    <form action="/grep" method="GET">
      <input size="40" placeholder="Search an English word" name="search" type="text" />
    </form>
  </li>
  <li>
    <a href="/find">Do a find and stream it to the page</a>
  </li>
  <li>
    <a href="/curl">Do a curl and stream it in HTML</a>
  </li>
  <li>
    <a href="@routes.Application.audioEchoEffectGenerate()">Add an echo to a sample sound and store in a file</a>
  </li>
  <li>
    <a href="@routes.Application.webRadioWithEcho()">Re-stream a web radio with echo</a>
  </li>
  <li>
    <a href="@routes.Application.reEncodeAndStreamVideo()">Re-stream a video by re-encoding it on-the-fly (+resized)</a>
  </li>
</ul>
}
